/* General Styles */
body {
    background-color: #1B1B1B; /* Darker color for background */
    color: #e6e6e6; /* Light text for dark background */
}

.outer-border {
    width: 300px;
    height: 350px;
    font-family: 'Arial', sans-serif;
    text-align: center;
    background-color: #312F2F; /* Lighter color for component containers */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

/* Logo */
.logo {
    width: 90px;
    height: 80px;
    margin-bottom: 10px;
}


/* Buttons */
.btn {
    background-color: #eab764;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 20px;
    font-size: 16px;
    cursor: pointer;
    margin: 5px;
    transition: box-shadow 0.3s ease; /* Smooth transition for the glow effect */
}

.btn:hover {
    background-color: #eab764;
    box-shadow: 0 0 5px rgba(237, 169, 58, 0.8); /* Glow effect */
    transform: scale(1.05); /* Slightly increase the size */
}

/* Screens */
.screen {
    display: none;
    background: #312F2F; /* Lighter color for component containers */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

/* Active Screen */
.active {
    display: block;
}

/* Input Fields */
input {
    width: 80%;
    padding: 8px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #555;
    background-color: #1B1B1B; /* Darker color for input backgrounds */
    color: #e6e6e6;
}

/* Highlighted Text */
.highlight {
    color: #eab764;
    font-weight: bold;
}

/* Back Button */
.back-btn {
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
    position: absolute;
    top: 10px;
    left: 10px;
    color: #ffffff; /* Changed to white for better visibility */
}

/* Invite Code */
.invite-code {
    font-weight: bold;
    color: #eab764;
    font-size: 18px;
}

/* Style for input-container and label alignment */
.input-container {
    display: flex;
    flex-direction: column; /* Stack label and input vertically */
    align-items: flex-start; /* Align items to the left */
    margin-bottom: 10px;
}

.input-container label {
    text-align: left; /* Ensure label is aligned to the left */
    margin-bottom: 5px; /* Space between label and input */
}

.input-container input {
    padding: 8px;
    font-size: 14px;
    width: 100%;  /* Make input take up full width */
    box-sizing: border-box;
}





/* Add margin-bottom to the first .outer-border */
.outer-border:first-of-type {
    margin-bottom: 20px; /* Adjust the value as needed */
}





/* Note Section */
#note-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #eab764;
    color: #222;
    border-radius: 10px 10px 10px 10px;
    cursor: pointer;
    transition: background-color 0.3s ease, border-radius 0.3s ease;
}

/* Change border-radius when the note section is expanded */
#toggle-note-checkbox:checked ~ #note-header {
    border-radius: 10px 10px 0 0;
}

#note-header:hover {
    background-color: #eab764;
}

#toggle-note-button {
    font-size: 12px;
    transition: transform 0.3s ease;
    color: #222; /* Dark color for contrast with the gold background */
}

#note-content {
    height: 0;
    overflow: hidden;
    transition: height 0.3s ease;
    background-color: #312F2F; /* Lighter color for component containers */
    border-radius: 0 0 10px 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

/* Style for the note textarea */
#note-content textarea {
    width: 100%;
    height: 100%;
    padding: 10px;
    border: none;
    border-radius: 0 0 10px 10px;
    box-sizing: border-box;
    resize: none;
    font-family: 'Arial', sans-serif;
    font-size: 14px;
    overflow-y: auto; /* Enables internal scrolling when content exceeds the height */
}

#note-text {
    font-size: 14px; /* Adjust as needed */
    line-height: 1.6; /* Adds space between lines */
    padding: 15px; /* Adds padding inside the note content */
    color: #ccc; /* Lighter text for better contrast on dark background */
}

/* Expanding the note section dynamically (JS sets the height) */
#toggle-note-checkbox:checked ~ #note-content {
    height: auto;
    overflow-y: auto; /* Enable vertical scrolling */
}

/* Rotate button when the note section expands */
#toggle-note-checkbox:checked ~ #note-header #toggle-note-button {
    transform: rotate(180deg);
}

/* Custom style for profile button in main screen */
#profile-button {
    margin-top: 40px;
    position: relative;
    bottom: 0;
    width: 120px; /* Set a specific width */
    display: block;
    margin-left: auto;
    margin-right: auto;
}